= hidden_field_tag :audio, form.audio
.row.form-group
  %label.col-md-1{ for: :name }
    Nazwa:
  .col-md-5
    = text_field_tag :name, form.name, placeholder: 'Nazwa ćwiczenia', class: 'form-control'
.row.form-group
  %label.col-md-1{ for: :description }
    Opis:
  .col-md-5
    = text_area_tag :description, form.name, placeholder: 'Opis ćwiczenia', class: 'form-control', size: '30x5'
.row.form-group
  %label.col-md-1{ for: :audio }
    Nagranie:
  .col-md-5
    #recorder
      %p
        %a{href: "http://www.adobe.com/go/getflashplayer"}
          %img{alt: "Get Adobe Flash player", src: "http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif"}/
    #audio_container
    - if @model.audio_file_exists?
      %audio{controls: ""}
        %source{src: "#{form.audio}", type: "audio/ogg"}

