.row
  %h1 Edytuj ćwiczenie
.row
  = form_tag exercise_path, method: 'PATCH', class: 'form-horizontal', id: 'exercise_form', multipart: true do
    = render 'layouts/form_errors'
    = render 'exercise_form', form: edit_form
    .row
      .col-md-6
        %button.btn.btn-default.pull-right.js-save-button
          Aktualizuj
