.row
  %h1 Dodaj nowe ćwiczenie
.row
  = form_tag exercises_path, class: 'form-horizontal', id: 'exercise_form' do
    = render 'layouts/form_errors'
    = render 'exercise_form', form: form
    .row
      .col-md-6
        %button.btn.btn-default.pull-right.js-save-button
          Dodaj
